[submodule "dvh-kafka-konsument"]
	path = dvh-kafka-konsument
	url = git@github.com:navikt/dvh-kafka-konsument.git
[submodule "dvh-kafka-konsument-avro"]
	path = dvh-kafka-konsument-avro
	url = git@github.com:navikt/dvh-kafka-konsument-avro.git
